extend ../base

block base
  .container
    .row
      .col
        img(src='../../../images/automdlogo.png')
        h1 Login
        if registeredSuccessfully
          .alert.alert-success You have registered successfully, now you may log in.
        form(method="POST" action="/login")
          .form-group
            label(for='email') Email
            input#email.form-control(name="email" type="text" aria-describedby="emailHelp" placeholder="Enter email")
          .form-group
            label(for='password') Password
            input#password.form-control(name="password" type="password" aria-describedby="passwordHelp" placeholder="Enter password")
          button.btn.btn-primary(type="submit") Log In