header.header
  .col
    .row.d-flex.justify-content-end
        ul.nav
          li.nav-item 
            a.nav-link(href="/Home") Home
          li.nav-item
            a.nav-link(href="/logout") Log Off