extend feedbackpage

block base
  .container
    .row
      .col
        form.regform(method='POST' action='/dashboard')
          div
            h2.headerreg.text-center Add some feedback
              // register form
            label(for='Sym') Feedback:
            input#Sym.form-control(type='text', placeholder='Please add some feedback' name='AddSym')
          button.btn.btn-primary(type='submit') Submit
