extend basehome

block base
  .container
    .row
      .col
        form.regform(method='POST' action='/dashboard')
          div
            h2.headerreg.text-center Add your symptoms
              // register form
            label(for='Sym') Symptom:
            input#Sym.form-control(type='text', placeholder='Please add your symptoms' name='AddSym')
          button.btn.btn-primary(type='submit') Submit
