extend basehome

block base
  .container
    .row
      .col
        h1 AutoMD - Diagnosis
        form(action='/submit-complaint' method='POST')
            h4.spacing Car Make
            hr
            select#carMake.form-control(name='carMake')
                each car in vehicles
                    option= car.make
                
            h4.spacing Car Model
            hr
            select#carModel.form-control(name='carModel')
                each car in vehicles
                    option= car.model
               
                
         
            h4.spacing Car Year
            hr
            select#carYear.form-control(name='carYear')
                each car in vehicles
                    option= car.year               
              
        
            h4.spacing Symptoms
            hr
            select#symptomname.form-control(name='Symptoms')
                each so in symptoms
                    option= so.symptom_name
               
            hr 
            button(type='submit') Submit All for Diagnosis



