extend basehome

block base
  .container
    .row
      .col
        h1 AutoMD - Diagnosis
        form(action='/submit-complaint' method='POST')
            h4.spacing Car Make
            hr
            select#carMake.form-control(name='carMake')
                each car in vehicles
                    option= car.make
                
            h4.spacing Car Model
            hr
            select#carModel.form-control(name='carModel')
                each car in vehicles
                    option= car.model
               
                
         
            h4.spacing Car Year
            select(name='carYear')
                option#carYear(value='' disabled='' selected='') Car Year
                input(type='hidden' name='year' value='{{persistedUser.id}}')
                input(type='text' name='cy' placeholder='Enter Description')
              
        
            h4.spacing Symptoms
            select(name='symptoms')
                option#symptoms(value='' disabled='' selected='') Symptoms
                input(type='hidden' name='symptoms' value='{{persistedUser.id}}')
                input(type='text' name='symp' placeholder='Enter Description')
            hr 
            button(type='submit') Submit All for Diagnosis



