extend basehome

block base
  .container
    .row
      .col
        h1 AutoMD - Diagnosis  
        form(action='/submit-complaint' method='POST') 
            h1 these are the sym   
            select#some.form-control(name='some')
                each so in Symptoms  
                    option= so.symptom_name  
        