extend basehome

block base
  .container
    .row
      .col    
        .Title AutoMD - Diagnosis
            hr
            br
            br
            .selection.spacing Car Model          
            select#carModel.form-control(name='carModel')
                each car in vehicles
                    option= car.model 
            br   
            .selection.spacing Car Year
            select#carYear.form-control(name='carYear')
                each car in vehicles
                    option= car.year
            br                 
            .selection.spacing Symptoms
        form(method="POST" action="/Treatment")
            select#symptomname.form-control(name='Symptoms')
                each so in symptoms
                    option(value=so.id)= so.symptom_name
            br
            hr                                         
            button.btn.btn-primary( type='submit') Submit