extend layout

block content
  h2 Content to be located here
  h3 Preliminary design includes a tab control that will allow for a 
  h3 logged on user to see their account information, a history of their
  h3 previous or current auto symptoms, an ability to create a new symptom,
  h3 treatment for symptoms, and an ability to update the status on existing
  h3 symptoms.

  h4 The landing page should probably have something different but this has
  h4 not been designed.

  h4 If a user attempts to log on without an existing account, the site should
  h4 redirect to the account registration page.

  h4 Once a user successfully creates a new account, the site should redirect
  h4 to the logon page.

  h4 Once a user is successfully logged on, the "LOG ON" option in the header
  h4 should change to "LOG OFF".  The tab control defined above should also
  h4 now be visible.

  h4 Once a user logs off, the landing page should be visible, and the header
  h4 should update with "LOG ON"
