extend pagelayout
block content 
    .tr= treat.treatment_desc
    img(src=`${treat.image}` style='width:500px; height:500px; display:block; margin:auto')
    //- img(src=`${img.image}` style='width:500px; height:500px; display:block; margin:auto; ')

  
