body {

    background-image: url(/images/tools_3.jpeg);
    background-size: cover;

}
.container{

    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
a{

    font-size: 30px;
    font-display: bold;
    color: black;
    margin-top: 25px;
    margin-right: 30px;

}