body {
    margin: 0;
    background-image: url(/images/tools_3.jpeg);
    background-size: cover;
}

.header {
    background-color: transparent!important;
}

.nav-link {
    color: black !important;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.header-title {
    font-size: 60px;
    margin: 0;
    font-family: 'Modak', cursive;
}

.content {
    min-height: 80vh;
    padding: 20px 0px;
}

.inputWrapper {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 10rem 20rem;
    grid-row-gap: 5px;
}

.mainText {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
}

.labelText {
    padding-top: 0.79375rem;
    /* padding-bottom added for visualization of vertical alignment */
    padding-bottom: 0.79375rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.registerInput {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    border: 2px solid blue;
    border-radius: 15px;
    height: 3rem;
    text-align: center;
}

.treatmentSaying {
    text-align: right;
    font-size: 1.5rem;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tr{
    font-size: 75px;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

